#main-nav {
    background-color: #220000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#main-nav ul {
    padding: 0;
    list-style-type: none;
}

#main-nav ul li {
    display: inline-block;
}

#main-nav ul li a {
    color: #FFFFFF;
}

#main-nav ul li a:hover {
    color: yellow;
}

#main-nav ul li.red a {
    color: red;
}
