* {
    margin: 0;
    border: 0;
    padding: 0;
    transition: all 0.5s;
}


/*header*/

.main-header {
    background: url(../img/tlo1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    width: 100%;

}

.napis {

   font-family: 'Poiret One', cursive;
    position: absolute;
    top: 35vh;
    left: 10vw;
    letter-spacing: 3px;
    text-shadow: 1px 0px 0px #000;
    opacity: 0;


}

.napis span {
    color: rgba(68, 127, 235, 0.66);
    text-shadow: 1px 0px 1px rgba(68, 127, 235, 0.66);
}

.napis3 {
    color: rgba(68, 127, 235, 0.66);
    margin-right: 10px;
}

.color {
    opacity: 1;
}

/*main-section*/

.transparent {
    background-color: rgba(1, 127, 235, 0.30);

}

.main-section {

    
}

.main {

    margin-top: 15vh;
}

.main img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 2px solid #000;

}

.main1 {
    margin-top: 50px;
    background-size: cover;
    width: 100px;
    height: 200px;
    top: 70px;

}

.napis2 {

  font-family: 'Poiret One', cursive;
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 1px 0px 0px #000;
}

.napis2 span,
.podpis span {
    color: rgba(68, 127, 235, 0.66);
    text-shadow: 1px 0px 1px rgba(68, 127, 235, 0.66);
}


.podpis {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    text-align: justify;


}

/*o mnie*/

.about {
    margin: 140px auto 120px auto;
  
}

figure img {

    padding: 20px;
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 5%;

}

figure img:hover{
    transform: rotate(20deg);
    background-color: rgba(68, 127, 235, 0.66);
}
#moje2 img:hover{
    transform: none;
    background-color: #FFF;
    border-radius: 10%;
}

/*contact*/

#contact {
    background-color: rgba(68, 127, 235, 0.06);
    font-family: 'Poiret One', cursive;
    padding: 50px;
}

