* {
    margin: 0;
    padding: 0;
    font-family: 'Anaheim', sans-serif;
}

body {
    background: url(../img/tloo.png);
    background-attachment: fixed;

}

/*nawigacja*/

.transparent {
    background: rgba(145, 145, 145, 0.41);
}
#main-nav{
    padding: 30px 200px 30px 0;
   
}
.navbar-light .navbar-nav .nav-link {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 900;
    text-shadow: 1px 0.5px 1px #000;

}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(8, 8, 8, 0.83);
    text-shadow: 1px 2px 1px #FFF;
}

/*carousel*/

.slider {
    width: 100%;
    margin: 0 auto;
    

}

.slider .carousel-inner .photo {
    height: 80vh;
    object-fit: cover;
}

.slider .carousel-inner .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.slider .carousel-inner .photo .text p {
    font-size: 100px;
}

.slider .control-size {
    height: 100px;
    width: 100px;
}

.slider-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    z-index: 5;
    font-size: 4em;
    color: #FFFFFF;
    text-transform: uppercase;
}

/*main-content*/

#main-content .container {
    margin-top: 45px;
}

#main-content .container h1 {
    font-family: 'Kalam', cursive;
    font-size: 4.5em;
    color: #417cd9;
    text-shadow: 1px 2px 1px #14099d;
    margin-bottom: 50px;
}

#main-content .container h3 {
    letter-spacing: 1.5px;
}

.selfie {
    background-image: url(../img/selfie.jpg);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 450px;
    border: 5px solid #d4d3d3;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

/*kontakt*/

.contact-section {
    background: lightgray;
    padding: 30px;

}

/*footer*/

footer {
    margin: 0;
    padding: 0;
    background: rgba(152, 13, 13, 0.46);
    color: #FFF;
    margin-top: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    width: 100%;
}